[submodule "deps/openexr"]
	path = deps/openexr
	url = git@github.com:AcademySoftwareFoundation/openexr.git
[submodule "deps/aces_container"]
	path = deps/aces_container
	url = git@github.com:ampas/aces_container.git
